<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>destination</key>
	<string>export</string>
	<key>method</key>
	<string>development</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>ua.edu.ukma.apple-env.kharchenko.cats-and-modules-kharchenko</key>
		<string>Apple-ENV Kharchenko</string>
	</dict>
	<key>signingCertificate</key>
	<string>iPhone Developer: Alina Kharchenko (7A75R54LX2)</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>teamID</key>
	<string>D85QWSUNYA</string>
</dict>
</plist>
