<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CatsAndModules_AlinaKharchenko.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>9256BCE2875B1CD0E0FD9D608FE2D4200FCD0F2A</string>
				<key>dateExpires</key>
				<string>18.05.2027</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9256BCE2875B1CD0E0FD9D608FE2D4200FCD0F2A</string>
						<key>dateExpires</key>
						<string>18.05.2027</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseAnalytics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D85QWSUNYA</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>12.13.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>3.5.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9256BCE2875B1CD0E0FD9D608FE2D4200FCD0F2A</string>
						<key>dateExpires</key>
						<string>18.05.2027</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GoogleAdsOnDeviceConversion.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D85QWSUNYA</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>3.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9256BCE2875B1CD0E0FD9D608FE2D4200FCD0F2A</string>
						<key>dateExpires</key>
						<string>18.05.2027</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GoogleAppMeasurement.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D85QWSUNYA</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>12.13.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9256BCE2875B1CD0E0FD9D608FE2D4200FCD0F2A</string>
						<key>dateExpires</key>
						<string>18.05.2027</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GoogleAppMeasurementIdentitySupport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D85QWSUNYA</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>12.13.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>D85QWSUNYA.ua.edu.ukma.apple-env.kharchenko.cats-and-modules-kharchenko</string>
				<key>com.apple.developer.team-identifier</key>
				<string>D85QWSUNYA</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>CatsAndModules_AlinaKharchenko.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>f2423a93-8373-4006-b539-9d7137f1f938</string>
				<key>dateExpires</key>
				<string>18.05.2027</string>
				<key>name</key>
				<string>Apple-ENV Kharchenko</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>D85QWSUNYA</string>
				<key>name</key>
				<string></string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
